<div class="container m-5">
    <div class="row">
        <div class="col-4">
            <h4>Xin chào, Hoàng</h4>
            <div class="d-flex">
                <p class="me-1">Email: </p><p><strong>user&#64;gmail.com</strong></p>
            </div>
            <div class="d-flex">
                <p class="me-1">Ngày sinh: </p><p><strong>21/09/2003</strong></p>
            </div>
            <div class="d-flex">
                <p class="me-1">Giới tính: </p><p><strong>Nam</strong></p>
            </div>
            <button (click)="logout()">Đăng xuất</button>
        </div>

        <div class="col-8">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Ngày tạo</th>
                        <th>Địa chỉ</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123456</td>
                        <td>22/12/2024</td>
                        <td>sdfasdfafasdgfasdgasdgasdasdf</td>
                        <td>Đang xử lý</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>