<div class="content__inner">
    <div class="category">
        <h2 class="content__heading">Quản lí danh mục</h2>
        <table class="content__show">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên danh mục</th>
                    <th>Quan hệ</th>
                    <th>Ảnh</th>
                    <th>Trạng thái</th>
                    <th>Ngày Thêm</th>
                    <th>Ngày Cập Nhật</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nón</td>
                    <td>Phụ kiện</td>
                    <td>
                        <img
                            src="./assets/img/cap.jpg"
                            alt="Nón"
                        />
                    </td>
                    <td>
                        <div class="checkbox-wrap">
                            <input type="checkbox" />
                        </div>
                    </td>
                    <td>4/30/2024, 7:12:55 PM</td>
                    <td>5/2/2024, 12:01:57 PM</td>
                    <td class="action-buttons">
                        <button>Xóa</button>
                        <button>Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Túi xách</td>
                    <td>Phụ kiện</td>
                    <td>
                        <img
                            src="./assets/img/handbag.jpg"
                            alt="Túi xách"
                        />
                    </td>
                    <td>
                        <div class="checkbox-wrap">
                            <input type="checkbox" />
                        </div>
                    </td>
                    <td>4/30/2024, 6:44:14 PM</td>
                    <td>Chưa cập nhật</td>
                    <td class="action-buttons">
                        <button>Xóa</button>
                        <button>Sửa</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Phụ kiện</td>
                    <td>Phụ kiện</td>
                    <td>
                        <img
                            src="accessory.jpg"
                            alt="Phụ kiện"
                        />
                    </td>
                    <td>
                        <div class="checkbox-wrap">
                            <input type="checkbox" />
                        </div>
                    </td>
                    <td>4/30/2024, 6:43:04 PM</td>
                    <td>Chưa cập nhật</td>
                    <td class="action-buttons">
                        <button>Xóa</button>
                        <button>Sửa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>