<div class="container" style="margin: 150px auto;">
    <div class="row m-auto">
        <div class="col-8">
            <h2 class="text-center">Giỏ hàng của bạn</h2>
            <div class="container" style="background-color: #fafafa;">
                @for (item of cartService.cartItems ; track null) {
                    <div class="row">
                        <app-cart-item-card [cartItem]="item" (calculate)="calculateAmount()"></app-cart-item-card>
                    </div>
                }
                
            </div>
        </div>
        
        <div class="col-2 m-auto">
            <h5>Thông tin đơn hàng</h5>
            <div class="d-flex justify-content-between p-2">
                <h6>Tổng tiền: </h6>
                <h6 class="me=0">{{amount}}đ</h6>
            </div>
            <button (click)="checkout()">THANH TOÁN</button>
        </div>
    </div>
    
</div>