<!-- 
<div class="container" style="margin-top: 1000px;">
    <button (click)="toggle()">Create Product</button>
</div> -->

<!-- <app-create-product-dialog [toggle]="toggle()"></app-create-product-dialog> -->


<!-- [(visible)]="true"  -->
<div class="card flex justify-content-center">
    <p-dialog 
        [modal]="true"
        [visible]="true" 
        [style]="{ width: '50rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <form [formGroup]="createProductForm"
            (ngSubmit)="log()">
            <div class="mb-3">
                <label for="name" class="form-label">Tên sản phẩm</label>
                <input
                    type="text"
                    formControlName="name"
                    id="name"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="slug" class="form-label">Url</label>
                <input
                    type="text"
                    formControlName="slug"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Giá sản phẩm</label>
                <input
                    type="number"
                    formControlName="price"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="discount" class="form-label">Giảm giá (%)</label>
                <input
                    type="number"
                    formControlName="discount"
                    class="form-control"
                />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mô tả</label>
                <p-editor formControlName="description"  [style]="{ height: '150px' }" />
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Thể loại</label>
                <select *ngIf="categories"
                    formControlName="category" class="form-select">
                    <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
            <div *ngIf="colors" class="mb-3">Màu sản phẩm
                @for (item of colors; track $index) {
                    <div class="m-3">
                        <input
                        type="checkbox"
                        formControlName="productColor"
                        class="form-check-input"
                        [value]="item.id"
                        (change)="onColorChange(item.id, $event)"
                    />
                    <label for="productColor" class="form-label">{{item.name}}</label>
                    <span style="height: 15px; width: 15px; display: inline-block;"
                    [ngStyle]="{'background-color': item.colorCode}"></span>
                    </div>
                    
                }
                
            </div>

            <div *ngIf="sizes" class="mb-3">Size sản phẩm
                @for (item of sizes; track $index) {
                    <div class="m-3">
                        <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="productSize"
                        [value]="item.id"
                        (change)="onSizeChange(item.id, $event)"
                        />
                        <label for="productSize" class="form-label">{{item.name}}</label>
                    </div>
                }
                
            </div>

            <!-- <div class="card flex justify-content-center">
              
                <p-fileUpload 
                    formControlName="productImages"
                    url="https://www.primefaces.org/cdn/api/upload.php" 
                    [multiple]="true" 
                    (onUpload)="onFileSelected($event)" 
                    accept="image/*" 
                    maxFileSize="1000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="">
                                <li *ngFor="let file of uploadedFiles">
                                    {{ file.name }} - {{ file.size }} bytes
                                </li>
                            </ul>
                        </ng-template>
                </p-fileUpload>
            </div> -->
            
            <input type="file" multiple (change)="onFileSelected($event)" />
  
            <div formArrayName="productImages">
              <div *ngFor="let imageControl of productImages.controls; let i = index">
                <input [formControlName]="i" readonly />
                <button (click)="removeImage(i)">Remove</button>
              </div>
            </div>
            <button type="submit" class="btn btn-success">Thêm sản phẩm</button>
        </form>
    </p-dialog>
</div>