/* .main-swiper {
  height: 100%;
  width: 100%;
} */

/* .sub-swiper {
    height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
}

.sub-swiper swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.sub-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

swiper-slide img {
    display: sw </swiper-slidek;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    /* display: sw </swiper-slidek; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  body {
    background: #000;
    color: #000;
  }

  swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper {
    height: 80%;
    width: 100%;
  }

  .mySwiper2 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper2 swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
  }

  swiper-slide img {
    /* display: sw </swiper-slidek; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .color-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
  }
  
  input.form-check-input#color {
    height: 3px;
    border-radius: 0;
  }

  .size-container {
    display: flex;
    gap: 10px;
  }
  
  .size-box {
    position: relative;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Hide the radio button */
  /* .size-box input[type="radio"] {
    display: none; 
  } */
  
  .size-box span {
    font-size: 16px;
    font-weight: bold;
  }
  
  .size-box.out-of-stock {
    background-color: #f8f8f8;
  }
  
  .size-box.out-of-stock span {
    color: #999; /* Greyed out text */
  }
  
  /* .slash-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; 
  } */
  