<!-- *ngIf="!isAdmin ; else adminContent" -->
 <div *ngIf="!isAdmin ; else adminContent"> 
    <app-cart-sidebar  [(show)]="show"></app-cart-sidebar>
    <app-nav-bar (toggleCartSideBar)="toggleCartSidebar()"></app-nav-bar>

    <div class="container" style="margin-top: 100px;">
        <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
</div>

<ng-template #adminContent>
  <div class="card">
        <p-splitter [panelSizes]="[25, 75]" [style]="{ height: 'fit-content' }" styleClass="mb-5">
          <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
              <app-admin-sidebar></app-admin-sidebar>
            </div>
          </ng-template>
          <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
               <router-outlet></router-outlet>
            </div>
          </ng-template>
        </p-splitter>
      </div>
</ng-template>
 