<!-- Footer -->
<footer class="text-center text-lg-start" style="background-color: #ffffff">



  <!-- Section: Social media -->
<!-- <div class="marquee1">
        <div class="marquee-content">
            <span>STREETWEAR BRAND LIMITED</span>
            <span>STREETWEAR BRAND LIMITED</span>
        </div>
    </div> -->

  <!-- Section: Links  -->
  <section class="" style="padding-top: 0.5px;">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h4 class="text-uppercase fw-bold">HỆ THỐNG CỬA HÀNG sq&be </h4>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #000000; height: 2px" />
          <p>
            Store 1: 26 LY TU TRONG STREET, DISTRICT 1, HOCHIMINH (THE NEW PLAYGROUND). </p>
          <p>Store 2: 140 NGUYEN HY QUANG, DONG DA DISTRICT, HANOI.</p>
          <p> Store 3: 4 PHAM NGU LAO STREET, DISTRICT 1, HOCHIMINH.</p>
          <p> Store 4: 56 MAU THAN, NINH KIEU DISTRICT, CANTHO.</p>
          <p> Store 5: 152 TRAN QUANG DIEU, WARD 14, DISTRICT 3, HCM</p>
        
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold">CHÍNH SÁCH</h4>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #000000; height: 2px" />
          <p>
            <a href="#!">- Chính sách sử dụng website</a>
          </p>
          <p>
            <a href="#!">- Phương thức thanh toán</a>
          </p>
          <p>
            <a href="#!">- Chính sách đổi trả</a>
          </p>
          <p>
            <a href="#!">- Chính sách giao nhận - vận chuyển</a>
          </p>
          <p>
            <a href="#!">- Điều khoản dịch vụ</a>
          </p>
          <p>
            <a href="#!">- Hướng dẫn mua hàng</a>
          </p>
          <p>
            <a href="#!">- Chính sách bảo mật</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold">THÔNG TIN LIÊN HỆ</h4>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #000000; height: 2px" />
          <p>
            <a href="#!">- CÔNG TY TNHH SQ&BE</a>
          </p>
          <p>
            <a href="#!">- SỐ CSKH: 02873011021 (10h -18h)</a>
          </p>
          <p>
            <a href="#!">- Ngày cấp: 20/07/2020</a>
          </p>
          <p>
            <a href="#!">- Tuyển dụng: hr&#64;sq&be.vn</a>
          </p>
          <p>
            <a href="#!">- Website: sq&be.vn</a>
          </p>
          <p>
            <a href="#!">- For business: contact&#64;sq&be.vn</a>
          </p>
        </div>
        <!-- Grid column -->



        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold">FOLLOW US ON SOCIAL MEDIA
          </h4>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #000000; height: 2px" />
          <div class="social-icons">
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="certification">
            <img src="assets/chungnhan.png" alt="Đã thông báo bộ công thương">
          </div>

        </div>



      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="marquee">
    <div class="marquee-content" >
      <span class="font"style="color: white!important;">GET TO KNOW OUR VIBE 2024</span>
      <span class="font"style="color: white!important;">GET TO KNOW OUR VIBE 2024</span>
      <span class="font"style="color: white!important;">GET TO KNOW OUR VIBE 2024</span>
      <span class="font"style="color: white!important;">GET TO KNOW OUR VIBE 2024</span>
    </div>

  </div>
</footer>
<!-- Footer -->
<style>

</style>