:root {
  --white: #fff;
  --blue: #4b84fe;
  --colorDark: #1b253d;
  --colorLight: #99a0b0;
  --red: #fa5b67;
  --yellow: #ffbb09;
  --bg: #f5f5fa;
  --bgDark: #ede8f0;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--colorLight);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--bg);
  font-size: 16px;
  line-height: 120%;
  font-family: Open Sans, Helvetica, sans-serif;
}

.dashboard {
  width: 100%;
  height: 100%;
  grid-gap: 0;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "menu search"
    "menu content";
}

.search-wrap {
  grid-area: search;
  background: var(--white);
  border-bottom: 1px solid var(--bgDark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;

  .search {
    height: 40px;

    label {
      display: flex;
      align-items: center;
      height: 100%;

      svg {
        display: block;

        path,
        circle {
          fill: lighten(var(--colorLight), 10%);
          transition: fill 0.15s ease;
        }
      }

      input {
        display: block;
        padding-left: 1em;
        height: 100%;
        margin: 0;
        border: 0;
        width: 380px;
        &:focus {
          background: var(--bg);
        }
      }

      &:hover {
        svg {
          path,
          circle {
            fill: lighten(var(--colorDark), 10%);
          }
        }
      }
    }
  }

  .user-actions {
    button {
      border: 0;
      background: none;
      width: 32px;
      height: 32px;
      margin: 0;
      padding: 0;
      margin-left: 0.5em;

      svg {
        position: relative;
        top: 2px;

        path,
        circle {
          fill: lighten(var(--colorLight), 10%);
          transition: fill 0.15s ease;
        }
      }

      &:hover {
        svg {
          path,
          circle {
            fill: lighten(var(--colorDark), 10%);
          }
        }
      }
    }
  }
}

.content-wrap {
  grid-area: content;
  overflow: auto;

  .content-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 1.375em;
      line-height: 100%;
      color: var(--colorDark);
      font-weight: 500;
      margin: 0;
      padding: 0;
    }

    .action {
      button {
        border: 0;
        background: var(--blue);
        color: var(--white);
        width: auto;
        height: 3.5em;
        padding: 0 2.25em;
        border-radius: 3.5em;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 600;
        transition: background-color 0.15s ease;

        &:hover {
          background-color: darken(var(--blue), 10%);

          &:active {
            background-color: darken(var(--blue), 20%);
            transition: none;
          }
        }
      }
    }
  }

  .info-boxes {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 2em;
    justify-content: space-around;
    .info-box {
      background: var(--white);
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 3em;
      border: 1px solid var(--bgDark);
      border-radius: 5px;

      .box-icon {
        svg {
          display: block;
          width: 48px;
          height: 48px;

          path,
          circle {
            fill: var(--colorLight);
          }
        }
      }

      .box-content {
        padding-left: 1.25em;
        white-space: nowrap;

        .big {
          display: block;
          font-size: 2em;
          line-height: 150%;
          color: var(--colorDark);
        }
      }

      &.active {
        svg {
          circle,
          path {
            fill: var(--blue);
          }
        }
      }
    }
  }
}
.card-wrap {
  padding: 6em 3em 0;
}

.piechart-component {
  width: 100%;
  justify-content: center;
  display: flex;
}

::ng-deep .p-element canvas {
  width: 500px;
  height: 500px;
}

.pending {
  color: red;
}

.shipped {
  color: green;
}

.prepared {
  color: gray;
}
