<div class="container" style="margin: 100px auto;">
    @if(orderDetail) {
        <div class="row">
            <h2>Chi tiết đơn hàng</h2>
            <h6>Mã đơn hàng: {{orderDetail.id}}</h6>
            <span>Người nhận: {{orderDetail.fullname}}</span>
            <span>Số điện thoại: {{orderDetail.phoneNumber}}</span>
            <span>Email: {{orderDetail.email}}</span>
            <span>Địa chỉ: {{orderDetail.address}}</span>
            <span>Ngày tạo: {{orderDetail.createAt | date:'dd/MM/yyyy, HH:mm a'}}</span>
            <span>Phương thức thanh toán: {{orderDetail.paymentMethod}}</span>
            @if(orderDetail.paymentMethod != 'COD') {
                <span>Nhà cung cấp: {{orderDetail.provider}}</span>
                <span>Mã giao dịch: {{orderDetail.transactionId}}</span>
            }
            
        </div>
        <table class="table table-striped">
            <thead>
                <tr style="font-size: large;">
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Giảm giá %</th>
                </tr>
            </thead>
            <tbody>
                @for (item of orderDetail.orderItems; track $index) {
                    <tr>
                        <td>
                            <app-checkout-item-card [item]="item"></app-checkout-item-card>
                        </td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price}} đ</td>
                        <td>{{item.discount}}</td>
                        <!-- <td>{{item.paymentMethod}}</td> -->
                        <!-- @if(item.status == 0) {
                            <td>Đang xử lý</td>
                        } @else {
                            <td>{{item.status}}</td>
                        } -->
                    </tr>
                }
        </table>

        <div class="row m-5">
            <div class="col list-group">
                <span>Phí vận chuyển:</span>
                <span>Voucher:</span>
                <span>Thành tiền:</span>
            </div>
            <div class="col list-group">
                <span>25000 đ</span>
                <span>0</span>
                <span>{{orderDetail.amount}} đ</span>
            </div>
            <!-- <div class="col"></div>
            <span>Phí vận chuyển: 25000 đ</span>
            <span>Voucher: </span>
            <span>Thành tiền: {{orderDetail.amount}} VNĐ</span> -->

        </div>
    }
    
    <div class="d-inline-flex">
        <a href="/account" style="text-decoration: none;"><i class="pi pi-arrow-left"></i> Quay lại</a>
    </div>
</div>